bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
*.user

.idea/

.env
.env.local
.env.*.local

node_modules/
dist/

BookStore.Api/jwt-private.pem
BookStore.Api/jwt-public.pem

BookStore.Api/wwwroot/images/

Swagger UI.pdf

